# =========================
# DEPENDENCIES
# =========================
node_modules/
**/node_modules/

# =========================
# NEXT.JS BUILD
# =========================
.next/
out/
build/

# =========================
# ENV FILES
# =========================
.env*
.env.local

# =========================
# IDE / EDITOR FILES
# =========================
.idea/
.vscode/

# =========================
# DEBUG / TEMP FILES
# =========================
debug-*
tmp-*
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# VERCEL / NETLIFY
# =========================
.vercel/

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify
